.list__article {
  display: inline-block;
  margin: 25px;
  height: 300px;
  width: 200px;
  background-color: rgb(1, 162, 255);
  border-radius: 10px;
  text-decoration: none;
  &--img {
    width: 200px;
    border-radius: 10px 10px 0 0;
  }
  &--title {
    margin: 10px 0 0 10px;
    color: white;
    font-family: "Play", sans-serif;
  }
  &--text {
    margin: 10px 0 0 10px;
    color: black;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
  }
}
