.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;

  &__label {
    color: greenyellow;
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
    margin-right: 10px;
    @media all and (min-width: 768px) {
      font-size: 20px;
    }
  }
  &__input {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
    height: 20px;
    background-color: black;
    border: 1px solid greenyellow;
    border-radius: 5px;
    padding-left: 10px;
    color: greenyellow;
    outline: none;
    &::placeholder {
      color: rgb(165, 179, 143);
    }
    @media all and (min-width: 768px) {
      font-size: 23px;
      height: 35px;
    }
  }
}
