.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  @media all and (min-width: 768px) {
    padding: 30px;
  }
  &__img {
    height: 100px;
    @media all and (min-width: 768px) {
      height: 170px;
    }
    @media all and (min-width: 1200px) {
      height: 200px;
    }
  }
}
